fastapi==0.115.9
uvicorn[standard]
pyserial
python-jose[cryptography]
bcrypt>=4.0.1
aiosqlite
python-multipart
python-dotenv
pyasn1<0.5.0
pyyaml>=6.0.0
pydantic>=2.7.4
pydantic-settings>=2.4.0
asyncpg